#cloud-config
users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCsoNtT00fCHJ6SLOhW0Ds8Enz+UkuyWaT55UtAIPIUDJ7aWka3DAS+K48utnKA/18DqmRHi0Nt2GVbb4hv7df/SwYUE/W0V2pwLbv6X6KALqfHd9pPPeT2Yq28pixz38yGcZDZvXVJ9E71wqMoUrF8H1gWw3f9vAkHxG6m28OHLXPRZmUspbhxxQclhsfw/fWjsT6Pa/OENTX9uGJpjC+k5S/yeNV/tSTGEE7FB293NLiscEPhZl1F+WWVS43lkfJ60ngGM9rhkbHJ1SKYeEGmmV7W7d1qknVAuJdPjEW2ZCdzZlT0vGLf/2ewXsvi2/BsdRHmO2GoRvZB9VVpmsq2JIjSY9fxE0MRQfoTDZr8YKiI8+HfuWDDYQ41DycCw18EehsvqMlo9+4d3+No3ofSBn3YIv+hTM/xIUUO5Zt/d+SJOC+LcqxpyY4t0cA3eZPngkKqaOksSUoFCMH4xOCtqC7qSM0IYAoVYnM8PEzSoVN3CE/pB4/USa94s+ZiT2xLImWJQ+oOk+BOJvk/j4tH13GD7AyQRIibw+eoUdac2jDSk4qbv6UoD/ejbHmNTR8wS9PKSQbXE3kgOylkoq7DSwVW2nxSTefEDP017hw2VdgN00wl1LV8evvRIXguTPkpX+vDbYmGluJLSlCnCyE8jNf3TV1gr8QMICXuiRz6iw== upm@vnxlab
runcmd:
  - service openvswitch-switch start
  - sleep 5
  - ifconfig eth1 up
  - ifconfig eth2 up
  - ifconfig eth3 10.255.0.2 netmask 255.255.255.0
  - ovs-vsctl add-br brwan
  - ip link add vxlan1 type vxlan id 1 remote 10.255.0.1 dstport 4789 dev eth3
  - ovs-vsctl add-port brwan eth1
  - ovs-vsctl add-port brwan vxlan1
  - ifconfig vxlan1 up
  - ovs-vsctl add-br brint
  - ip link add vxlan2 type vxlan id 2 remote 10.255.0.1 dstport 8742 dev eth3
  - ovs-vsctl add-port brint eth2
  - ovs-vsctl add-port brint vxlan2
  - ifconfig vxlan2 up
